<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>download {{f}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/static/css/main.css' />
    <meta id=constants data-filename="{{f}}" data-js_iv="{{iv}}" />
</head>

<body>
    <script src='/app/jsmin/fileutils.js'></script>
    <div class=center>
        <div>download {{f}}</div>
        <div>
            <div id=main>
                <div>
                    <span style="margin-top: 10px;">Download in Progress..</span>
                    <div style="margin-top: 20px;"> </div>
                    <button id=progrs style="display:none;max-width:100%;width:0px;" class=ipg></button>
                    <div id=div_></div>
                    <div>
                        <a id="dl-a" download=download>
                            <button style="display: none;" id=download-link class=ipgs>Click To Download </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id=filesetter>
            <span id=helptext>Click here to Name your file</span>
            <div>
                <input id="valuef" value="download" class=ipgs maxlength="1000" style="text-transform:none;max-width:30%;cursor:text;">
                <button id=namesh_3 class=ipgs style="width:auto;">Change Name</button>
            </div>
            <div id=get-key style="display:none;margin-top:15px;">
                <div>Your Key Is Incorrect or invalid</div>
                <input id="keyval" value="" class=ipgs maxlength="1000" style="text-transform:none;max-width:30%;cursor:text;">
                <button id=keybtn class=ipgs style="width:auto;">Change Name</button>
            </div>

        </div>
    </div>
    <script>
        var namests = document.getElementById("namesh_3"),
            namechange = function () {
                filenames = document.getElementById("valuef").value;
                var elem = window.document.getElementById('dl-a');
                elem.download = filenames;
                namests.innerText = "filename Changed"
            }
        namests.addEventListener("click", namechange);
        namests, addEventListener('keydown', function (e) {
            if (e.keyCode === 13) {
                namechange()
            }
        })
        var invs = document.getElementById("valuef");
        invs.addEventListener("click", function () {
            namests.innerText = "Change Name";
        })

        /*
                document.getElementById("progrs").style.display = "block";
                if (!filesize == 0) {
                document.getElementById("div_").innerHTML = (event.loaded / (1024 * 1024)).toFixed(2) + " MB of " +
                (
                filesize / (1024 * 1024)).toFixed(2) + " MB";
                document.getElementById("progrs").style.width = ((event.loaded / (1024 * 1024)) / (filesize / (1024 *
                1024))) *
                100 + "%";
                } else {
                document.getElementById("progrs").style.width = "100%";
                document.getElementById("progrs").innerHTML = "Unknown File Size";
                */
    </script>
</body>

</html>