<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TempFiles-Save any file for quick sharing</title>
    <link rel='stylesheet' href='/static/css/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class=center>
        <div>
            <div>Upload Files For a small amount of time to share with your friends</div>
            <div>By Default the files are encrypted on the client side and then sent to the servers..the files are
                stored securely for the time they are with us</div>
            <div class=rmt-u style="display:none">Remote Upload[unencrypted]
            </div>
            <div class="filearea" style="margin:20px;">
                <input id=file-u type="file" style="display:none">
                <div id="sp_oc" style="font-size: 12;" class="rmt-u up-files">Upload Files</div>
                <div style="display:none" id='rdf'>
                    <div id=filact>{{action}} File</div>
                    <button id='progress-div' class=btnv style="background-color:#6200ee"></button>
                </div>
            </div>
            <div id=results>
                <div style="display:none" id='xrhf'>
                    <div style="margin-bottom:5px;">Click on the buttons to copy the values</div>
                    <div>File Name:<span id=fname></span></div>
                    <div>Your File URL is:</div>
                    <button id='file-url' class=btnv></button>
                    <div style="margin-left:8px" id=file-url_helper></div>
                    <input id=file-url_input style="opacity:0;">
                    <div>Your KeyCode Is:</div>
                    <button id=pass-key class=btnv></button>
                    <div style="margin-left:8px" id=pass-key_helper></div>
                    <input id=pass-key_input style="opacity:0">
                    <div><button class=btnv id='copyall'>Tap Here To copy direct download link [No KeyCode] needed</button></div>
                    <input id=copy-all_input style="opacity:0">
                    <div style="margin-left:8px" id=copy-all_helper></div>
                </div>
            </div>
        </div>
        <script src='/app/jsmin/fileutils.js'></script>
        <script>
            const span = document.getElementById('sp_oc'),
                fileu = document.getElementById('file-u')
            span.addEventListener('click', (e) => {
                fileu.click()
            });
            fileu.onchange = e => {
                processFile(e);
            }
        </script>
</body>

</html>