<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TempFiles-Save any file for quick sharing</title>
    <link rel='stylesheet' href='../static/css/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class=center>
        <div>
            <div><span><a href="/speedtest/">Click Here to try a speedtest</a></span></div>
            <div>Upload Files For a small amount of time to share with your friends</div>
            <div class=rmt-u style="display:none">Remote Upload[unencrypted]
            </div>
            <div class="filearea" style="margin:20px;">
                <input id=file-u type="file" style="display:none">
                <div id="sp_oc" style="font-size: 12;" class="rmt-u up-files">Upload Files</div>
                <div style="display:none" id='rdf'>
                    <div id=filact>{{action}} File</div>
                    <button id='progress-div' class=btnv style="background-color:#6200ee"></button>
                </div>
            </div>
            <div id=results>
                <div style="display:none" id='xrhf'>
                    <div style="margin-bottom:5px;">Click on the buttons to copy the values</div>
                    <div>New File Name:<span id=fname></span></div>
                    <div>Your File URL is:</div>
                    <input id='file-url' class=btnv readonly>
                    <div style="margin-left:8px" id=file-url_helper></div>
                </div>
            </div>
        </div>
        <script src='/static/jsmin/fileutils.js'></script>
        <script>
            const span = document.getElementById('sp_oc'),
                fileu = document.getElementById('file-u')
            span.addEventListener('click', (e) => {
                fileu.click()
            });
            fileu.onchange = e => {
                upload(e);
            }
        </script>
</body>

</html>