<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <script src='/static/jsmin/device.js'>
    </script>
    <script>
        ((async () => {
            a = 0
            for (const b of funcs) {
                a += await b()
            }
            document.body.innerHTML(`TIME TAKEN:${a}Seconds[BETA]`)
        }))()
    </script>
</body>

</html>